*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img1 {
    background-image: url("../image/bgreg.jpg");
    width: 98vw;
    /* height: 96vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rowlogin{
    background-color: #97866c9f;
    width: 80%;
    border-radius: 3%;
    margin-bottom: 10px;
}

.rowlogin:hover {
    box-shadow: 0px 4px 7px #222222;
    
}
.input-group-text {
    background-color: transparent;
    border: none;
}
.line {
    border: none;
    background-color: transparent;
    /* padding-left: 10px; */
    border-bottom: 1px solid #F44D2D;
}
.input-group-prepend {
    margin-right: 10px;
    /* background-color:; */
}
.fom img {
    width: 40vw;
}
.form-group {
    width: 85%;
}

.a1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 60%; */
}
.h3 h3 {
    font-size: 0.7em;
    font-weight: bolder;
    width: 100%;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}
@media(max-width:550px) and  (orientation : landscape){
    .fom img {
        width: 50vw;
    }
    .cardall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -10px;
        padding: 0px;
    }
    .cardall .card{
        width: 100%;
        margin-left: 10px;
        margin-top: 12px;
    }
    .rowlogin{

        border-radius: 0px;
        
    }
    .log{
        font-size: 0.6em;
    }
    
}
